---

---

<div class="top-creators-section">
    <h2>INTEGRANTES DEL 4IM6</h2>
    <div class="creators-container">
      <div class="creators-row">
        <!-- 20 cuadros por fila -->
        <div class="creator">
            <div class="column">
                <!-- Primera columna con imagen -->
                <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
              </div>
              <div class="column">
                <!-- Segunda columna con dos filas de texto -->
                <div class="row">ALVA DE LA CRUZ JOEL DAVID</div>
                <div class="row">EQUIPO</div>
              </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">ALVAREZ MELGOZA MARIO ALBERTO</div>
              <div class="row">EQUIPO</div>
            </div>
      </div>
      <div class="creator">
        <div class="column">
            <!-- Primera columna con imagen -->
            <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
          </div>
          <div class="column">
            <!-- Segunda columna con dos filas de texto -->
            <div class="row">BERNAL RUIZ MELANIE</div>
            <div class="row">EQUIPO</div>
          </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">BETANZOS PATIÑO ISABELLA</div>
          <div class="row">EQUIPO</div>
        </div>
  </div>
  <div class="creator">
    <div class="column">
        <!-- Primera columna con imagen -->
        <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
      </div>
      <div class="column">
        <!-- Segunda columna con dos filas de texto -->
        <div class="row">BOBADILLA OLIVARES HIROMI</div>
        <div class="row">EQUIPO</div>
      </div>
</div>
<div class="creator">
  <div class="column">
      <!-- Primera columna con imagen -->
      <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
    </div>
    <div class="column">
      <!-- Segunda columna con dos filas de texto -->
      <div class="row">CABRERA JUAREZ MARIANA</div>
      <div class="row">EQUIPO</div>
    </div>
</div>
<div class="creator">
<div class="column">
    <!-- Primera columna con imagen -->
    <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
  </div>
  <div class="column">
    <!-- Segunda columna con dos filas de texto -->
    <div class="row">CAMACHO MEZA KARLA ROMINA</div>
    <div class="row">EQUIPO</div>
  </div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">CARDIEL REYES LUIS ANGEL</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">CARMONA VAZQUES DIANA</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">CARREÑO SANCHEZ LUIS ANGEL</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">CASQUERA RUIZ SARED</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">CASTRO AGUILAR EDER JOEL</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">CEN LUBIANO MELANIE JOCELYN</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">CONTRERAS CRUZ JOSEPH</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">DE LA CRUZ FLORES KARLA</div>
  <div class="row">EQUIPO</div>
</div>
</div>

<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">DELGADO ANDRADE CRISTIAN ANTONIO</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">DIAZ CADENA ERICK JOSUE</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">ESTRADA MARTINEZ FERNANDA</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">FLORES RIVERA JUAN MANUEL</div>
<div class="row">EQUIPO</div>
</div>
</div>
      
        
        
        
        <!-- Repite hasta tener 20 cuadros -->

        <!-- Duplica los cuadros para el efecto de cinta transportadora -->

        <!-- Repite hasta tener los mismos 20 cuadros duplicados -->
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">ALVA DE LA CRUZ JOEL DAVID</div>
              <div class="row">EQUIPO</div>
            </div>
      </div>
      <div class="creator">
        <div class="column">
            <!-- Primera columna con imagen -->
            <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
          </div>
          <div class="column">
            <!-- Segunda columna con dos filas de texto -->
            <div class="row">ALVAREZ MELGOZA MARIO ALBERTO</div>
            <div class="row">EQUIPO</div>
          </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">BERNAL RUIZ MELANIE</div>
          <div class="row">EQUIPO</div>
        </div>
  </div>
  <div class="creator">
    <div class="column">
        <!-- Primera columna con imagen -->
        <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
      </div>
      <div class="column">
        <!-- Segunda columna con dos filas de texto -->
        <div class="row">BETANZOS PATIÑO ISABELLA</div>
        <div class="row">EQUIPO</div>
      </div>
</div>
<div class="creator">
  <div class="column">
      <!-- Primera columna con imagen -->
      <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
    </div>
    <div class="column">
      <!-- Segunda columna con dos filas de texto -->
      <div class="row">BOBADILLA OLIVARES HIROMI</div>
      <div class="row">EQUIPO</div>
    </div>
</div>
<div class="creator">
<div class="column">
    <!-- Primera columna con imagen -->
    <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
  </div>
  <div class="column">
    <!-- Segunda columna con dos filas de texto -->
    <div class="row">CABRERA JUAREZ MARIANA</div>
    <div class="row">EQUIPO</div>
  </div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">CAMACHO MEZA KARLA ROMINA</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">CARDIEL REYES LUIS ANGEL</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">CARMONA VAZQUES DIANA</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">CARREÑO SANCHEZ LUIS ANGEL</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">CASQUERA RUIZ SARED</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">CASTRO AGUILAR EDER JOEL</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">CEN LUBIANO MELANIE JOCELYN</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">CONTRERAS CRUZ JOSEPH</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">DE LA CRUZ FLORES KARLA</div>
<div class="row">EQUIPO</div>
</div>
</div>

<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">DELGADO ANDRADE CRISTIAN ANTONIO</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">DIAZ CADENA ERICK JOSUE</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">ESTRADA MARTINEZ FERNANDA</div>
<div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
<!-- Primera columna con imagen -->
<img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
<!-- Segunda columna con dos filas de texto -->
<div class="row">FLORES RIVERA JUAN MANUEL</div>
<div class="row">EQUIPO</div>
</div>
</div>
       
      </div>
      <!-- Repite para las siguientes filas -->
      <div class="creators-row">
        <!-- 20 cuadros por fila -->
        
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">GAMIZ FRANCO VIRIDIANA</div>
              <div class="row">EQUIPO</div>
            </div>
      </div>
      <div class="creator">
        <div class="column">
            <!-- Primera columna con imagen -->
            <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
          </div>
          <div class="column">
            <!-- Segunda columna con dos filas de texto -->
            <div class="row">DULCE</div>
            <div class="row">EQUIPO</div>
          </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">ANGELA</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
      <div class="creator">
        <div class="column">
            <!-- Primera columna con imagen -->
            <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
          </div>
          <div class="column">
            <!-- Segunda columna con dos filas de texto -->
            <div class="row">GARFIAS CRUZ XIMENA GETSEMANI</div>
            <div class="row">EQUIPO</div>
          </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">GUADARRAMA GONZALES IAN RODRIGO</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">GURROLA SANCHEZ ALEJANDRA</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">GUTIERREZ HERNANDEZ MILAGROS DENISSE</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">HERNANDEZ TELLEZ HECTOR FIDEL</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">INFANTE RUIZ SAID ABDAHEL</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">MARTINEZ DIAZ HECTOR RODRIGO</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">MARTINEZ MACIEL EVAN ALEXANDER</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">MARTINEZ PEÑAFIEL ADRIAN FERNANDO</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">MENDOZA GUTIERREZ CARLOS ALBERTO</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">MORALES GOMEZ LUIS RAUL</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">OLVERA MURILLO MELISA</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">ORTIZ ORTIZ ISAAC</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">OSEGUERA ESQUIVEL IKER ELIAS</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">PACHECO GIL XIMENA MAXIME</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
    <div class="creator">
      <div class="column">
          <!-- Primera columna con imagen -->
          <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
        </div>
        <div class="column">
          <!-- Segunda columna con dos filas de texto -->
          <div class="row">PERALTA GOMEZ JOSE MATIAS</div>
          <div class="row">EQUIPO</div>
        </div>
    </div>
      
        <!-- Repite hasta tener 20 cuadros -->
              
<div class="creator">
  <div class="column">
      <!-- Primera columna con imagen -->
      <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
    </div>
    <div class="column">
      <!-- Segunda columna con dos filas de texto -->
      <div class="row">GAMIZ FRANCO VIRIDIANA</div>
      <div class="row">EQUIPO</div>
    </div>
</div>
<div class="creator">
<div class="column">
    <!-- Primera columna con imagen -->
    <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
  </div>
  <div class="column">
    <!-- Segunda columna con dos filas de texto -->
    <div class="row">DULCE</div>
    <div class="row">EQUIPO</div>
  </div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">ANGELA</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
    <!-- Primera columna con imagen -->
    <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
  </div>
  <div class="column">
    <!-- Segunda columna con dos filas de texto -->
    <div class="row">GARFIAS CRUZ XIMENA GETSEMANI</div>
    <div class="row">EQUIPO</div>
  </div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">GUADARRAMA GONZALES IAN RODRIGO</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">GURROLA SANCHEZ ALEJANDRA</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">GUTIERREZ HERNANDEZ MILAGROS DENISSE</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">HERNANDEZ TELLEZ HECTOR FIDEL</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">INFANTE RUIZ SAID ABDAHEL</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">MARTINEZ DIAZ HECTOR RODRIGO</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">MARTINEZ MACIEL EVAN ALEXANDER</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">MARTINEZ PEÑAFIEL ADRIAN FERNANDO</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">MENDOZA GUTIERREZ CARLOS ALBERTO</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">MORALES GOMEZ LUIS RAUL</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">OLVERA MURILLO MELISA</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">ORTIZ ORTIZ ISAAC</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">OSEGUERA ESQUIVEL IKER ELIAS</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">PACHECO GIL XIMENA MAXIME</div>
  <div class="row">EQUIPO</div>
</div>
</div>
<div class="creator">
<div class="column">
  <!-- Primera columna con imagen -->
  <img src="azulsinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
</div>
<div class="column">
  <!-- Segunda columna con dos filas de texto -->
  <div class="row">PERALTA GOMEZ JOSE MATIAS</div>
  <div class="row">EQUIPO</div>
</div>
</div>
     
        <!-- Duplica los cuadros para el efecto de cinta transportadora -->

        <!-- Repite hasta tener los mismos 20 cuadros duplicados -->

      </div>
      <div class="creators-row">
        <!-- 20 cuadros por fila -->
        
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">PINEDA SALGADO LUIS ANGEL</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RAMIREZ CERVANTES SANTIAGO</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RAMIREZ SALAZAR ANGEL GUILLERMO</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RIOS ABAD ROBERTO CARLOS</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RIVERO FLORES VICTOR GABRIEL</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RODRIGUEZ PADILLA MARIANA LIZETH</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">ROSALES TERRAZAS EDWAR RAFAEL</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RUIZ DEL OLMO VIRIDIANA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SANCHEZ HERNANDEZ YUREM</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SANCHEZ RODRIGUEZ DULCE VALERY</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SANCHEZ ZENIL MARIA FERNANDA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SOLARES MORALES BRYAN ALEXANDER</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SOTO CARRANZA XIMENA VANYA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">VALENCIA OROPEZA ANGEL YAHIR</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">VALENCIA PEREZ ADAMARI PAMELA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">VALENCIA VAZQUEZ YAIDAN LEAO</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">VAZQUEZ MARTINEZ JESSICA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">ZAVALA FLORES ASTRID ELUSAY</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">ZAVALA FLORES ASTRID ELUSAY</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
     
        <!-- Repite hasta tener 20 cuadros -->

        <!-- Duplica los cuadros para el efecto de cinta transportadora -->
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">PINEDA SALGADO LUIS ANGEL</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RAMIREZ CERVANTES SANTIAGO</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RAMIREZ SALAZAR ANGEL GUILLERMO</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RIOS ABAD ROBERTO CARLOS</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RIVERO FLORES VICTOR GABRIEL</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RODRIGUEZ PADILLA MARIANA LIZETH</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">ROSALES TERRAZAS EDWAR RAFAEL</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">RUIZ DEL OLMO VIRIDIANA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SANCHEZ HERNANDEZ YUREM</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SANCHEZ RODRIGUEZ DULCE VALERY</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SANCHEZ ZENIL MARIA FERNANDA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SOLARES MORALES BRYAN ALEXANDER</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">SOTO CARRANZA XIMENA VANYA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">VALENCIA OROPEZA ANGEL YAHIR</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">VALENCIA PEREZ ADAMARI PAMELA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">VALENCIA VAZQUEZ YAIDAN LEAO</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">VAZQUEZ MARTINEZ JESSICA</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">ZAVALA FLORES ASTRID ELUSAY</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
        <div class="creator">
          <div class="column">
              <!-- Primera columna con imagen -->
              <img src="sinfoto.png" alt="Imagen" style="width: 50%; height: auto;">
            </div>
            <div class="column">
              <!-- Segunda columna con dos filas de texto -->
              <div class="row">ZAVALA FLORES ASTRID ELUSAY</div>
              <div class="row">EQUIPO</div>
            </div>
        </div>
       
        <!-- Repite hasta tener los mismos 20 cuadros duplicados -->
 
      </div>
    </div>
  </div>

  <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
  
  

<style>

.top-creators-section {
    overflow: hidden;
    width: 100%;
  }

  .top-creators-section h2{
    font-family: "Teko", sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(46, 31, 31);
    text-shadow: 0 0 5px wheat;
}
  
  .creators-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /*cambia la separacion entre cada fila*/
  }
  
  .creators-row {
    display: flex;
    gap: 20px; /*cambia la separacion entre cada columna-cuadrito*/
    width: calc(600px * 19); /* Ancho de 40 cuadros (ajustado al nuevo tamaño de los cuadros) */
    animation: scroll-horizontal 200s linear infinite; /* Velocidad de la animación ajustada */
  }
  
  .creators-row:nth-child(even) {
    animation-direction: reverse;
  }
  
  .creators-row:hover {
    animation-play-state: paused;
  }
  
  .creator {
    width: 700px; /* Ancho de los cuadros aumentado */
    height: 80px; /* Altura de los cuadros (ajustar según tu diseño) */
    background: linear-gradient(135deg, #676768 0%, #1b1b1f 100%);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
  }


  .column {
    width: 50%;
    padding: 5px;
  }

  .column img {
    width: 100%;
    height: 50%;
 
}


  
  .row {
    margin-bottom: 5px;
    font-family: "Teko", sans-serif;
    font-size: 17px;
    text-align: center;
    color: #e7e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/*LO QUE ESTÁ AQUI ABAJO NO SE SI ES DEL CODIGO TUYO O MIO*/
  
  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
