---
---
<header>
    <nav>
        <ul class = "menu-horizontal">
            <li class="brand">
                <a href="https://www.cecyt3.ipn.mx/" target="_blank"> <img src="logoC3.png"></a>
            </li>
            <li class="column"><a href="#home">Inicio</a> 
                
            </li>
                
            <li>
                <a href="#home">Conocenos</a>
                <div  class="column">
                    <ul class="menu-vertical">
                        <li><a href="#">Tecnico en Computacion</a></li>
                        <li><a href="#">Profesor Tutor 4IM6</a></li>
                        <li><a href="#">Alumnos 4IM6</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#home">Presentaciones</a>
                <div class="column">
                <ul class="menu-vertical">
                    <li><a href="#">Equipo 1</a></li>
                    <li><a href="#">Equipo 2</a></li>
                    <li><a href="#">Equipo 3</a></li>
                    <li><a href="#">Equipo 4</a></li>
                    <li><a href="#">Equipo 5</a></li>
                    <li><a href="#">Equipo 6</a></li>
                    <li><a href="#">Equipo 7</a></li>
                    <li><a href="#">Equipo 8</a></li>
                </ul>
                </div>
            </li>
            <li class="column"><a href="#home">Videos</a>
                
            </li>
            <li class="column"><a href="#services">Fotos</a>
                
            </li>
            <li>
                <a href="#contact">Contacto</a>
                    <div class="column">
                    <ul class="menu-vertical">
                        <li><a href="curso-html.html">Instituto Politecnico Nacional</a></li>
                        <li><a href="#">CECyT 3 "Estanislao Ramirez Ruiz"</a></li>
                        <li><a href="#">Esteban Ayala Peña</a></li>
                    </ul>
                </div>
            </li>
            <li class="brand">
                <a href="https://www.ipn.mx/" target ="_blank"> 
                <img src="logoipn.png"></a>
            </li>
        </ul>
    </nav>
</header>
<style>
html{
    scroll-behavior: smooth;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;  
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 0;
}
img{
    
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: auto;
    position: relative;
}

header.abajo{
    display: block;
}

.menu-vertical{
    margin-top: 7px !important;
	position: absolute;
	display: none !important;
	list-style: none;
	min-width: 270px;
	background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    text-align: center;
    animation: movY 0.3s ease-in;
}

@keyframes movY {
    0%{
        transform: translateX(-50%);
        opacity: 0;
    } 45%{        
        transform: translateX(0)}
     100%{
        opacity: 1;;
    }
}
.menu-horizontal{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.menu-horizontal li:hover .menu-vertical{
	display: inline-block !important;
}

.menu-vertical li{
    transition: all 0.3s;
}
.menu-vertical li:hover{
	background-color: rgba(0, 0, 0, 0);
    scale: 1.1 1.1;
}

.menu-vertical li a{
	display: block;
	color: rgba(255, 255, 255, 0.553);
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0px 0px; 
    padding: 5px 5px; 
    cursor: pointer;

}
.brand{
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    align-content: center !important;
}
.brand img{
    width: 1.3em;
    height: 1.3em;
}
.brand a{
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    align-content: center !important;
}

nav ul li a {
    display: inline-block;
    font-size: 3em;
    padding: 5px 5px;
    color: #e6dddd;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.2s;
}

nav ul li a:hover{
    background-color: rgba(19, 20, 20, 0);
    color: #f5f5f5;
    scale: 1.1 1.1;
}


</style>