---
// Importa AOS y los estilos de AOS
import AOS from 'aos';
import 'aos/dist/aos.css';

// Inicializa AOS
if (typeof window !== 'undefined') {
  AOS.init();
}
---

<div data-aos="fade-up">
¡Hola, Astro y AOS!
</div>